@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");

/*GENERAL CSS*/

* {
  font-family: "Roboto", sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  max-width: 100vw;
  overflow-x: hidden;
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

.text--purple {
  color: #7342d6;
}

img {
  width: 100%;
  height: 100%;
  max-height: 30vh;
}

p {
  line-height: 1.5;
}

button {
  cursor: pointer;
  transition: all 300ms ease;
}
button:active {
  transform: translateY(2px);
}

.no-cursor{
  cursor: not-allowed;
}

a{
  text-decoration: none;
}
a:hover{
  text-decoration: underline;
}



/* NAVIGATION */

nav {
  height: 80px;
  display: flex;
}

.nav__container {
  display: flex;
  width: 100%;
  max-width: 1200px;
  justify-content: space-between;
  margin: 0px auto;
  align-items: center;
  padding: 0px 24px;
}

ul {
  display: flex;
}

.logo {
  width: 160px;
}

li {
  list-style-type: none;
}

.nav__link {
  margin-left: 16px;
  text-decoration: none;
  color: #7342d6;
  font-size: 20px;
  font-weight: 700;
  padding: 8px;
}

.nav__link:hover {
  text-decoration: underline;
}

.nav__link--primary {
  border: 2px solid #7342d6;
  border-radius: 4px;
}
.nav__link--primary:hover {
  text-decoration: none;
}

.btn__menu{
  background-color: transparent;
  border: none;
  font-size: 40px;
  text-align: center;
  color: #7342d6;
  display: none;
}

.menu__backdrop{
  position: absolute;
  background-color: #242424;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 3;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
 opacity: 0;
 visibility: hidden;
 transition:all 300ms ease;
}


.menu--open .menu__backdrop{
 
  display: flex;
  visibility: visible;
  opacity: 1;
}

.menu--open{
  height: 100vh;
  overflow-y: hidden;
}

.ul__links{
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
}

.menu__link{
  font-size: 40px;
  color: #fff;
}
.menu__links{

  padding: 32px 0px;
}

.btn__menu--close{
  position: absolute;
  right: 20px;
  top: 10px;
  padding: 8px;
  color: #fff;
}

/* HEADER */

#landing {
  background-color: rgba(115, 66, 214, 0.1);
}

header {
  height: calc(100vh - 80px);
}

.header__container {
  width: 100%;
  max-width: 720px;
  margin: 0px auto;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-around;
  padding-top: 48px;
}

h1 {
  font-size: 56px;
  color: #7342d6;
  margin-bottom: 24px;
  text-align: center;
}

h2 {
  text-align: center;
  font-size: 32px;
  margin-bottom: 32px;
}

.btn {
  background-color: #7342d6;
  color: white;
  padding: 12px 52px;
  font-size: 20px;
  font-weight: 700;
  border: none;
  border-radius: 4px;
}

.header__description {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header__img--wrapper {
  padding: 30px;
  z-index: 2;
}

/* HIGHLIGHTS */

.container {
  padding: 56px 0px;
}

.row {
  width: 100%;
  max-width: 1200px;
  margin: 0px auto;
}

.row__column{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.highlights__wrapper {
  display: flex;
  flex-wrap:wrap;
}
.highlight {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px 24px;
  width: calc(100% / 3);
  text-align: center;
}

.highlight__para {
  text-align: center;
  max-width: 280px;
}

.highlight__subtitle {
  font-size: 20px;
  margin: 16px 16px;
  text-align: center;
}

.highlight__img {
  font-size: 32px;
  height: 100px;
  width: 100px;
  border: 1px solid #7342d689;
  color: #7342d6;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
}

#highlights {
  position: relative;
  max-width: 100vw;
}

#highlights::before,
#highlights::after {
  content: "";
  position: absolute;
  background: url("./assets/wave.svg");
  width: 101vw;
  height: 12vw;
  left: 0px;
  z-index: 1;
  background-size: cover;
  background-repeat: no-repeat;
}

#highlights::before {
  transform: translateY(-100%);
  top: 1px;
}

#highlights::after {
  transform: translateY(100%) rotate(180deg);
  bottom: 1px;
}

/* FEATURES */

#features {
  padding-top: 8vw;
  background-color: rgba(115, 66, 214, 0.1);
}

.books {
  display: flex;
  flex-wrap: wrap;
}

.book {
  width: 25%;
  padding: 24px;
}

.book__img--wrapper {
  margin-bottom: 8px;
  border-radius: 4px;
  overflow: hidden;
  display: flex;
}

.book__img {
  max-height: 380px;
  transition: all 300ms ease;
  cursor: no-drop;
}

.book:hover .book__img{
  transform: scale(1.03);
}

.book__title{
  font-size: 20px;
  margin-bottom: 12px;
  cursor: not-allowed;
}

.book__title:hover{
  text-decoration: underline;

}


.book__ratings{
  margin-bottom: 8px;
  color: #fabf2a;
}


.book__price--normal{
  text-decoration: line-through;
  padding-right: 6px;
  color: gray;
}


/* LATEST */

.books--latest{
  flex-wrap: wrap;
}


/* EXPLORE*/

#explore{
  background-color: rgba(115, 66, 214, 0.1);
}

.browse{
  display: flex;
  align-items: center;
  justify-content: center;
}

/*FOOTER*/

footer{
  background-color: black;
}

.footer__logo{
  display: flex;
}
.footer__logo--img{
  width: 160px;
  filter:grayscale(1) invert(1);
}

.footer__link , .footer__copyright{
  color: #fff;
}

.footer__links
{
   margin: 24px 0px 32px 0px;
}


.footer__link{
  margin-left: 48px;
}

.footer__link--primary{
  margin-left: 0px;
}

.footer__link--secondary{
  margin-left: 16px;
}

/* SMALL PHONES , TABLETS , LARGE SMARTPHONES */

@media (max-width:768px){
         .header__description{
          padding: 0px 24px;
         }
         h1{
          font-size: 40px;
         }
         h2{
          font-size: 26px;
         }
         button{
          font-size: 18px;
         } 

         .book{
          width: 50%;
         }

        
}


/* SMALL PHONES , LARGE SMARTPHONES */

@media (max-width:550px){
    .nav__links{
      display: none;
    }
     .btn__menu{
      display: flex;
     }
     .highlight{
      width: 100%;
     }
     .highlight:not(:last-child){
        margin-bottom: 24px;
     }
}


